.register-link {
  cursor: pointer;
  text-decoration: underline;
  text-align: center;
  margin-top: 12px;
  color: #333;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 60px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 30px;
  padding: 30px;
}

label {
  color: #333;
}

input {
  padding: 10px;
  margin-bottom: 1px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.submitButton:hover {
  background-color: #0056b3;
}
